[submodule "nextpnr"]
	path = nextpnr
	url = https://github.com/YosysHQ/nextpnr
[submodule "openFPGALoader"]
	path = openFPGALoader
	url = https://github.com/trabucayre/openFPGALoader
[submodule "prjtrellis"]
	path = prjtrellis
	url = https://github.com/YosysHQ/prjtrellis
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys
